@model AttendanceApplication.Models.Group

@{
    ViewBag.Title = "Group Allocation - Manage students";
}

<h2>Group Allocation</h2>


@using (Html.BeginForm("ManageStudents", "Groups"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

         <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Level)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Level)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Time.AcademicYear)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Time.AcademicYear)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Time.Period)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Time.Period)
            </dd>

            <dt>
                Course
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Course.Name)
                @*@Html.ActionLink("Edit", "Edit", new { id = model.ID })*@
            </dd>

        </dl>

            

        </div>
    

    @* Students who are in the group *@
    <div>
        <h3> Assigned students</h3>

        <table class="table table-hover">
            <tr>

                <th>Name</th>
                <th>Surname</th>
                <th>Modules</th>
                <th></th>
            </tr>

            @if (ViewBag.students != null)
            {foreach (var s in ViewBag.students)
                {
                    <tr>
                        <td>
                            @s.Name
                        </td>
                        <td>
                            @s.Surname
                        </td>
                        <td>
                            @s.Modules
                        </td>
                        <td>
                            @Html.ActionLink("Remove student", "ManageStudents", new
                       {
                           studentID = s.ID,
                           searchResults = ViewBag.searchResults,
                           id = ViewBag.group.ID,
                           module1 = ViewBag.module1,
                           module2 = ViewBag.module2,
                           module3 = ViewBag.module3,
                           module4 = ViewBag.module4,
                           groupStudents = ViewBag.groupStudents,
                           action = "Delete from group"
                       })
                        </td>

                    </tr>
                }
             }
        </table>

        <p>Number of students: </p>
        <hr>
       
    </div>

    @Html.Partial("SearchStudents")

    <div>
        <input type="submit" id="SaveList" name="action" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Back to List", "Index")
    </div>

}





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
